/*МедиаЗапросы*/

@media (max-width: 751px) {
    .conteiner {
        width: 280px;
        margin: auto;
    }

    .block-1 {
    	width: 100%;
    margin-right: 0px;
	height: 1116px;
	background-position: center;
}

	.block-1 .logo {
	height: 60px;
    width: 60px;
    top: 5px;
    left: 3.75%;
}

.block-1 .conteiner .title {
	color: #fff;
	text-transform: uppercase;
	padding-top: 93px;
	text-align: left;
}

.title-1 {
    font-size: 30px;
    line-height: 34px;
}

.block-1 .conteiner .text {
	padding-top: 0px;
}

.text-1 {
	font-size: 14px;
	line-height: 18px
}

.block-1 .conteiner .icons {
	width: 280px;
}

.block-1 .conteiner .icons .item {
	width: 280px;
	padding-top: 40px;
}

.block-1 .conteiner .icons .item .item-content {
    width: 180px;
}

.title-3 {
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
}

.block-1 .conteiner .scroll {
    display: none;
}

.block-2 {
    margin-right: 0px;
	height: 680px;
}

.block-2 .line {
    top: 214px;
}

.owl-carousel-1 {
    margin-top: 20px;
}

.owl-carousel-2 {
	margin-top: 30px;
}

.owl-carousel-2 .item {
	width: 100%;
	height: 400px;
}

.owl-carousel-2 .item .img{
	width: 48px;
    height: 48px;
	left: 50%;
	transform: translate(-50%,0);
}

.owl-carousel-2 .item .img {
	margin: 0px 0px 0px 0px;
}

.owl-carousel-2 .item .history {
    top: 75px;
    left: 0px;
    margin: auto;
    width: 280px;
    border-left: 0px solid #ed1b21;
    border-top: 1px solid #ed1b21;
    padding-left: 0px;
}

.owl-carousel-2 .item .history .item__text {
	padding-top: 28px;
}

.block-2 .conteiner .main-title {
	margin-top: 30px;
}

.block-2 .conteiner .main-text {
	margin-top: 12px;
}

.block-3 {
	height: 517px;
    margin-right: 0px;
}

.block-3 .owl-carousel-3 .owl-prev {
    display: none;
}

.block-3 .owl-carousel-3 .owl-next {
	display: none;
}

.block-3 .owl-carousel-3 .item .content {
	height: 370px;
	width: 280px;
	top: 40px;
	left: 50%;
	transform: translate(-50%,0);
}

.block-3 .owl-carousel-3 .item .content .title {
    width: 100%;
    text-align: center;
}

.block-3 .owl-carousel-3 .item .content .list {
	left: 20px;
	width: 280px;
}


.block-3 .owl-carousel-3 .item .content .icons {
	display: none;
} 

.block-3 .owl-carousel-3 .bg-1 {
    height: 517px;
}

.block-3 .owl-carousel-3 .bg-2 {
	height: 517px;
}

.title-3 {
    font-size: 24px;
    line-height: 24px;
}

.text-5 {
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
}

.block-3 .owl-carousel-3 .item .content a {
    top: 400px;
    left: 50%;
    transform: translate(-50%,0);
    width: 204px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
}

.block-4 {
    margin-right: 0px;
	height: 566px;
}


.block-4 .conteiner .title {
	color: #333333;
	text-transform: uppercase;
	padding-top: 30px;
}

.block-4 .conteiner .text {
	color: #333333;
	padding-top: 12px;
}

.block-4 .logo {
	height: 276px;
	padding-top: 40px;
}

.block-4 .logo .item {
	width: 50%;
	height: 92px;
	float: left;
	text-align: center;
}

.block-4 .logo .item:nth-child(1) {
	border-width: 1px 0.5px 0.5px 0;
	padding-top: 27px;
}

.block-4 .logo .item:nth-child(2) {
	border-width: 1px 0px 0.5px 0.5px;
	padding-top: 17px;
}

.block-4 .logo .item:nth-child(3) {
	display: none;
}

.block-4 .logo .item:nth-child(4) {
	display: none;
}

.block-4 .logo .item:nth-child(5) {
	display: none;
}

.block-4 .logo .item:nth-child(6) {
	display: none;
}

.block-4 .logo .item:nth-child(10) {
	display: none;
}

.block-4 .logo .item:nth-child(11) {
	display: none;
}

.block-4 .logo .item:nth-child(7) {
	border-width: 0.5px 0.5px 1px 0;
	padding-top: 21px;
}

.block-4 .logo .item:nth-child(8) {
	border-width: 0.5px 0px 1px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 22px;
}

.block-4 .logo .item:nth-child(9) {
	border-width: 0.5px 0.5px 1px 0px;
	padding-top: 27px;
}

.block-4 .logo .item:nth-child(12) {
	border-width: 0.5px 0px 1px 0.5px;
	padding-top: 25px;
}

.title-5 {
    font-size: 27px;/* Приближение из-за подстановки шрифтов */
}

.text-9 {
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    line-height: 100%;/* Приближение из-за подстановки шрифтов */
}

.block-4 a {
    top: 486px;
    width: 204px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
}

.block-5 {
	height: 400px;
    margin-right: 0px;
}

.block-5 .map {
    height: 400px;
}

.block-5 .conteiner .title {
	padding-top: 40px;
}

.block-5 .conteiner .text {
	padding-top: 115px;
}

.block-6 {
	height: 453px;
    margin-right: 0px;
    background-position: center bottom;
}

.block-6 .conteiner .title {
	top: 40px;
}

.block-6 .conteiner .symbol-1 {
    left: 10px;
    top: 64px;
}

.block-6 .conteiner .symbol-2 {
    right: 20px;
    top: 227px;
}

.block-6 .owl-carousel-4 .item {
	height: 300px;
}

.block-6 .owl-carousel-4 {
	margin-top: 90px;
	width: 280px;
}

.block-6 .owl-carousel-4 .item .img {
	top: 200px;
	background-size: cover;
	height: 90px;
	width: 90px;
}

.block-6 .owl-carousel-4 .item .info {
    left: 0px;
	padding-left: 0px;
	width: 280px;

}

.block-6 .owl-carousel-4 .item .man{
    position: relative;
    left: 90px;
    width: 190px;
    padding-left: 20px;
}

.block-6 .owl-carousel-4 .owl-dots {
	margin-top: 10px;
	width: 100%;
	padding-left: 95px;
}

.block-7 {
	margin-right: 0px;
	height: 423px;
}

.block-7 .conteiner .title {
	padding-top: 32px;
}

.block-7 .conteiner .text {
	padding-top: 17px;
}

.block-7 .owl-carousel-5 {
	height: 276px;
}

.block-7 .owl-carousel-5 .item {
	height: 92px;
}

.block-7 .owl-carousel-5 .item .img {
	width: 50%;
}

.block-7 .owl-carousel-5 .item .img:nth-child(1) {
	background-image: url('../images/award-1.png');
	background-size: 50%;
	border-width: 1px 0.5px 0.5px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(2) {
	background-image: url('../images/award-2.png');
	background-size: 40%;
	border-width: 1px 0px 0.5px 0.5px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(3) {
	background-image: url('../images/award-3.png');
	background-size: 50%;
	border-width: 1px 0.5px 0.5px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(4) {
	background-image: url('../images/award-4.png');
	background-size: 40%;
	border-width: 1px 0.5px 0.5px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(5) {
	background-image: url('../images/award-5.png');
	background-size: 50%;
	border-width: 1px 0.5px 1px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(6) {
	background-image: url('../images/award-6.png');
	background-size: 40%;
	border-width: 1px 0px 1px 0.5px;
}

.block-7 .owl-carousel-5 .owl-prev {
	display: none;
}

.block-7 .owl-carousel-5 .owl-next {
	display: none;
}

.block-8 {
	margin-right: 0px;
	height: 947px;
	position: relative;
	background-position: center bottom;
}

.block-8 .phone {
	text-align: center;
	width: 280px;
	top: 40px;
	left: 50%;
	transform: translate(-50%,0);
	padding-left: 0px;
	padding-top: 40px;
	background-image: url('../images/phone.png');
	background-position: center top;
}

.block-8 .map {
	text-align: center;
	width: 280px;
	top: 278px;
	left: 50%;
	transform: translate(-50%,0);
	padding-left: 0px;
	padding-top: 40px;
	background-image: url('../images/map.png');
	background-position: center top;
}

.block-8 .email {
	text-align: center;
	width: 280px;
	top: 514px;
	left: 50%;
	transform: translate(-50%,0);
	padding-left: 0px;
	padding-top: 40px;
	background-image: url('../images/email.png');
	background-position: center top;
}

.block-8 .email .input-1 input {
	height: 40px;
	width: 278px;
}

.block-8 .email .input-2 input {
	height: 40px;
	width: 278px;
}

.block-8 .email .input-3 input {
	width: 278px;
}

.block-8 .email a {
	margin: auto;
    position: relative;
    top: 20px;
    left: 0px;
    width: 166px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
}

.block-9 {
    height: 60px;
    margin-right: 00px;
}

.block-9 .title {
    width: 96px;
    height: 16px;
}

.text-10 {
	font-size: 16px;
}

/*---------------------------------------Меню---------------------------------------*/


body {
	position: relative;
	top: 0;
	left: 0;
	overflow-x: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  background-color: #ed1b21;
  width: 260px;
  height: 100%;
  transition:  .3s;
  z-index: 99;
}

.sidebar.active {
  position: fixed;
  top: 0;
  right: 0px;
  background-color: #ed1b21;
  width: 100%;
  height: 100%;
  transition:  .3s;
  z-index: 99;
}

.menu .active {
  right: 0px;
}

.menu .sidebar .list {
  margin-top: 60px;
}

.menu .sidebar .list ul {
    margin-top: 100px;
  padding: 0;
}

.menu .sidebar .list ul li 
{
  list-style: none;
  height: 40px;
}

.menu .sidebar .list ul li a {
  height: 30px;
  width: 200px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  left: 0%;
  margin-left: 65px;
  color: #d6d6d6;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.menu .sidebar .list ul li a:hover {
    color: #b90005;
}


.menu .sidebar .social-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.menu .sidebar .social-buttons .item {
  color: #fff;
  position: relative;
  width: 100%;
  height: 60px;
  border-top: 1px solid #b90005;
}

.menu .sidebar .social-buttons .item:hover {
    background-color: #b90005;
}

.menu .sidebar .social-buttons .item .img {
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
}

.menu .sidebar .social-buttons .item .img svg {
  fill: #fff;
  width: 36px;
  height: 36px;
}

.menu .sidebar .social-buttons .item .text {
   margin-left: 65px;
  height: 30px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0,-50%);
}

.menu .sidebar .title {
    position: absolute;
  width: 100%;
  height: 60px;
  position: relative;
  padding-left: 65px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #b90005;
} 


.menu .sidebarBtn {
  padding-left: 18px;
  position: fixed;
  top: 0;
  right: 0px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ed1b21;
  border: 1px solid #b90005;
  outline: none;
  z-index: 9999;
}



.menu .sidebarBtn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  transition: .3s;

}

.menu .sidebarBtn span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu  .sidebarBtn span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu .sidebarBtn.toggle span {
  background: transparent;
}

.menu .sidebarBtn.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}

.menu .sidebarBtn.toggle span:after {
  top: 0;
  transform: rotate(135deg);
}


}



@media (min-width: 751px) and (max-width: 1350px) {
    .conteiner {
        width: 708px;
        margin: auto;
    }

    .block-1 {
    margin-right: 0px;
	height: 100vh;
	background-position: center bottom;
}

	.block-1 .logo {
	height: 78px;
    width: 78px;
    top: 1.8%;
    left: 5%;
}

	.block-1 .conteiner .text {
	padding-top: 3.4%;
}
	
	.block-1 .conteiner .title {
	padding-top: 21.8%;
	text-align: left;
}

.block-1 .conteiner .icons {
    position: relative;
	width: 708px;
	color: #fff;
	margin-top: 5.7%;
    margin: auto;
}

.block-1 .conteiner .icons .item {
	float: left;
	width: 236px;
    padding-top: 7%;
}

.block-1 .conteiner .icons .item .item-content {
    width: 220px;
    margin: left;
}

.block-1 .conteiner .scroll {
    display: none;
}

.block-2 {
    margin-right: 0px;
	height: 660px;
}

.block-2 .conteiner .main-title {
	margin-top: 44px;
}

.block-2 .conteiner .main-text {
	margin-top: 5px;
}

.block-2 .line {
    top: 252px;
}

.owl-carousel-2 .item .img {
	margin: 10px 30px 0px 0px;
}

.owl-carousel-2 .item .history {
    left: 100px;
    width: 580px;
}

.block-3 {
	height: 545px;
    margin-right: 0px;
}

.block-3 .owl-carousel-3 .bg-1 {
    height: 545px;
}

.block-3 .owl-carousel-3 .bg-2 {
	height: 545px;
}

.block-3 .owl-carousel-3 .item .content .title {
    width: 490px;
    position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.title-3 {
    font-size: 30px;
    line-height: 100%;
}

.block-3 .owl-carousel-3 .item .content .list {
	position: absolute;
	top: 60px;
	left: 50%;
}

.block-3 .owl-carousel-3 .item .content .icons {
	top: 60px;
	left: 30px;
} 

.block-3 .owl-carousel-3 .item .content a {
    position: absolute;
    top: 375px;
    left: 50%;
    transform: translate(-50%,0);
    width: 244px;
    height: 46px;
    line-height: 46px;
}

.block-4 {
    position: relative;
    margin-right: 0px;
	height: 555px;
}

.block-4 .conteiner .title {
	padding-top: 55px;
}

.block-4 .conteiner .text {
	padding-top: 5px;
}

.block-4 .logo {
	width: 100%;
	height: 390px;
	padding-top: 34px;
}

.block-4 .logo .item {
	width: 33.3%;
	height: 130px;
}

.title-1 {
    font-size: 44px;
    line-height: 100%;
}

.block-4 .logo .item:nth-child(1) {
	border-width: 1px 0.5px 0.5px 0;
	padding-top: 46px;
}

.block-4 .logo .item:nth-child(2) {
	border-width: 1px 0.5px 0.5px 0.5px;
	padding-top: 36px;
}

.block-4 .logo .item:nth-child(3) {
	border-width: 1px 0px 0.5px 0.5px;
	padding-top: 51px;
}

.block-4 .logo .item:nth-child(4) {
	border-width: 0.5px 0.5px 0.5px 0px;
	padding-top: 27px;
}

.block-4 .logo .item:nth-child(5) {
	border-width: 0.5px 0.5px 0.5px 0.5px;
	padding-top: 36px;
}

.block-4 .logo .item:nth-child(6) {
	border-width: 0.5px 0px 0.5px 0.5px;
	padding-top: 50px;
}

.block-4 .logo .item:nth-child(7) {
	border-width: 0.5px 0.5px 0px 0;
	padding-top: 37px;
}

.block-4 .logo .item:nth-child(8) {
	border-width: 0.5px 0.5px 0px 0.5px;
	padding-top: 38px;
}

.block-4 .logo .item:nth-child(9) {
	display: none;
}

.block-4 .logo .item:nth-child(10) {
	display: none;
}

.block-4 .logo .item:nth-child(11) {
	display: none;
}

.block-4 .logo .item:nth-child(12) {
	border-width: 0.5px 0px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 29px;
}

.block-4 a {
   display: none;
}

.block-5 {
	height: 500px;
    margin-right: 0px;
}

.block-5 .map {
    opacity: 1;
    width: 100%;
    height: 500px;
}

.block-5 .conteiner .title {
	padding-top: 60px;
}

.block-5 .conteiner .text {
	padding-top: 160px;
}

.block-6 {
	height: 478px;
    margin-right: 0px;
}

.block-6 .conteiner .title {
	top: 60px;
}

.block-6 .owl-carousel-4 {
	margin-top: 146px;
	left: 50%;
	transform: translate(-50%,0);
	width: 708px;
}

.block-6 .conteiner .symbol-1 {
    left: 30%;
    top: 130px;
}

.block-6 .conteiner .symbol-2 {
    right: 4%;
    top: 275px;
}

.block-7 {
	margin-right: 0px;
	height: 465px;
}

.block-7 .conteiner .title {
	padding-top: 55px;
}

.block-7 .conteiner .text {
	padding-top: 5px;
}

.block-7 .owl-carousel-5 {
	height: 300px;
	position: absolute;
	bottom: 0px;
}

.block-7 .owl-carousel-5 .item {
	height: 300px;
}

.block-7 .owl-carousel-5 .item .img {
	position: relative;
	height: 50%;
	width: 33.3%;
	float: left;
}

.block-7 .owl-carousel-5 .item .img:nth-child(1) {
	background-image: url('../images/award-1.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(1) {
	border-width: 1px 0.5px 0.5px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(2) {
	border-width: 1px 0.5px 0.5px 0.5px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(3) {
	border-width: 1px 0px 0.5px 0.5px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(4) {
	border-width: 0.5px 0.5px 0px 0px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(5) {
	border-width: 0.5px 0.5px 0px 0.5px;
}

.block-7 .owl-carousel-5 .item .img:nth-child(6) {
	border-width: 0.5px 0px 0px 0.5px;
}

.block-7 .owl-carousel-5 .owl-prev {
	display: none;
}

.block-7 .owl-carousel-5 .owl-next {
	display: none;
}

.block-8 {
    margin-right: 0px;
	height: 810px;
	background-position: center bottom;
}

.block-8 .phone {
	width: 708px;
	top: 60px;
	left: 50%;
	transform: translate(-50%,0);
}

.block-8 .map {
	width: 708px;
	top: 236px;
	left: 50%;
	transform: translate(-50%,0);
}

.block-8 .email {
	width: 708px;
	top: 380px;
	left: 50%;
	transform: translate(-50%,0);
}

.block-8 .email .input-1 input {
	height: 46px;
	width: 614px;
}

.block-8 .email .input-2 input {
	height: 46px;
	width: 614px;
}

.block-8 .email .input-3 input {
	height: 94px;
	width: 614px;
}

.block-8 .email a {
    width: 186px;
    height: 48px;
    line-height: 48px;
    letter-spacing: 1.5px;
}

.block-9 {
    height: 80px;
    margin-right: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  background-color: #ed1b21;
  width: 260px;
  height: 100%;
  transition:  .3s;
  z-index: 99;
}

.sidebar.active {
  position: fixed;
  top: 0;
  right: 0px;
  background-color: #ed1b21;
  width: 100%;
  height: 100%;
  transition:  .3s;
  z-index: 99;
}

.menu .active {
  right: 0px;
}

.menu .sidebar .list {
  margin-top: 60px;
}

.menu .sidebar .list ul {
    margin-top: 100px;
  padding: 0;
}

.menu .sidebar .list ul li 
{
  list-style: none;
  height: 40px;
}

.menu .sidebar .list ul li a {
  height: 30px;
  width: 200px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  left: 0%;
  margin-left: 65px;
  color: #d6d6d6;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.menu .sidebar .list ul li a:hover {
    color: #b90005;
}


.menu .sidebar .social-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.menu .sidebar .social-buttons .item {
  color: #fff;
  position: relative;
  width: 100%;
  height: 60px;
  border-top: 1px solid #b90005;
}

.menu .sidebar .social-buttons .item:hover {
    background-color: #b90005;
}

.menu .sidebar .social-buttons .item .img {
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
}

.menu .sidebar .social-buttons .item .img svg {
  fill: #fff;
  width: 36px;
  height: 36px;
}

.menu .sidebar .social-buttons .item .text {
   margin-left: 65px;
  height: 30px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0,-50%);
}

.menu .sidebar .title {
    position: absolute;
  width: 100%;
  height: 60px;
  position: relative;
  padding-left: 65px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #b90005;
} 


.menu .sidebarBtn {
  padding-left: 18px;
  position: fixed;
  top: 0;
  right: 0px;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #ed1b21;
  border: 1px solid #b90005;
  outline: none;
  z-index: 9999;
}



.menu .sidebarBtn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  transition: .3s;

}

.menu .sidebarBtn span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu  .sidebarBtn span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu .sidebarBtn.toggle span {
  background: transparent;
}

.menu .sidebarBtn.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}

.menu .sidebarBtn.toggle span:after {
  top: 0;
  transform: rotate(135deg);
}


}

