
/*Очистка*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:focus,a:hover {
	text-decoration: none;
}

/*Шрифты*/

.title-1 {
    font-family: 'ProximaNova-Bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.title-2 {
    font-family: 'ProximaNova-Bold';
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.title-3 {
    font-family: 'ProximaNova-Bold';
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 36px;/* Приближение из-за подстановки шрифтов */
}

.title-4 {
    font-family: 'ProximaNova-Bold';
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.title-5 {
    font-family: 'ProximaNova-Bold';
    font-size: 55px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 100%;
}

.title-6 {
    font-family: 'ProximaNova-Semibold';
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 60px;/* Приближение из-за подстановки шрифтов */
}

.text-1 {
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.29px;
}

.text-2 {
    font-family: 'RobotoCondensed-Light';
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 16px;
}

.text-3 {
    font-family: 'ProximaNova';
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 36px;/* Приближение из-за подстановки шрифтов */
}

.text-4 {
    font-family: 'ProximaNova-Regular';
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
}

.text-5 {
    font-family: 'ProximaNova-Semibold';
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 28px;/* Приближение из-за подстановки шрифтов */
}

.text-6 {
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
}

.text-7 {
    font-family: 'ProximaNova-Bold';
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
}

.text-8 {
    font-family: 'RobotoCondensed-Bold';
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: normal;
}

.text-10 {
    font-family: 'RobotoCondensed-Bold';
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: normal;
}

.text-9 {
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 100%;/* Приближение из-за подстановки шрифтов */
}

.text-11 {
    font-family: 'ProximaNova-Semibold';
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 600;
    line-height: 30px;/* Приближение из-за подстановки шрифтов */
}

/*Общее*/

body {
	position: relative;
    overflow-x: hidden;
    left: 0;

}

.conteiner {
    width: 1240px;
    margin: auto;
}

/*---------------------------------------Меню---------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  background-color: #ed1b21;
  width: 260px;
  height: 100%;
  transition:  .3s;
  z-index: 99;
}

.menu .active {
  right: 0px;
}

.menu .sidebar .list {
  margin-top: 60px;
}

.menu .sidebar .list ul {
    margin-top: 50px;
    padding: 0;
}

.menu .sidebar .list ul li 
{
  list-style: none;
  height: 40px;
}

.menu .sidebar .list ul li a {
  height: 30px;
  width: 200px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  left: 0%;
  margin-left: 65px;
  color: #d6d6d6;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.menu .sidebar .list ul li a:hover {
    color: #b90005;
}


.menu .sidebar .social-buttons {
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.menu .sidebar .social-buttons .item {
  color: #fff;
  position: relative;
  width: 100%;
  height: 60px;
  border-top: 1px solid #b90005;
}

.menu .sidebar .social-buttons .item:hover {
    background-color: #b90005;
}

.menu .sidebar .social-buttons .item .img {
  position: absolute;
  padding: 12px;
  box-sizing: border-box;
}

.menu .sidebar .social-buttons .item .img svg {
  fill: #fff;
  width: 36px;
  height: 36px;
}

.menu .sidebar .social-buttons .item .text {
   margin-left: 65px;
  height: 30px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0,-50%);
}

.menu .sidebar .title {
    position: absolute;
  width: 100%;
  height: 60px;
  position: relative;
  padding-left: 65px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-bottom: 1px solid #b90005;
} 


.menu .sidebarBtn {
  padding-left: 18px;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
 /* box-sizing: border-box;*/
  cursor: pointer;
  background-color: #ed1b21;
  border: 1px solid #b90005;
  outline: none;
  z-index: 9999;
}


.menu .sidebarBtn span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 28px;
  transition: .3s;

}

.menu .sidebarBtn span:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu .sidebarBtn span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.menu .sidebarBtn.toggle span {
  background: transparent;
}

.menu .sidebarBtn.toggle span:before {
  top: 0;
  transform: rotate(45deg);
}

.menu .sidebarBtn.toggle span:after {
  top: 0;
  transform: rotate(135deg);
}


/*Блок-1*/

.block-1 {
    margin-right: 60px;
	position: relative;
	height: 100vh;
	background: url('../images/bg-1.png') no-repeat;
	background-size: cover;
}


.block-1 .logo {
	height: 144px;
    width: 146px;
	display: block;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    opacity: 1;
}

.block-1 .conteiner .title {
	color: #fff;
	text-transform: uppercase;
	padding-top: 11.5%;
	text-align: center;
}

.block-1 .conteiner .text {
	color: #fff;
	padding-top: 2.4%;
	text-align: left;
}

.block-1 .conteiner .icons {
    position: relative;
	width: 1050px;
	color: #fff;
	margin-top: 5.7%;
    margin: auto;
}

.block-1 .conteiner .icons .item {
	float: left;
	width: 350px;
    padding-top: 7%;
}

.block-1 .conteiner .icons .item .item-content {
    width: 220px;
    margin: auto;
}

.block-1 .conteiner .icons .item .img {
	position: absolute;
	height: 70px;
	width: 70px;
}

.block-1 .conteiner .icons .item .num {
	padding-left: 90px;
	text-align: left;
}

.block-1 .conteiner .icons .item .text {
	padding-left: 90px;
	text-align: left;
}

.block-1 .conteiner .scroll {
    position: absolute;
    text-align: center;
    top: 92%;
    left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}

.block-1 .conteiner .scroll .scroll-1 {
    width: 17px;
    height: 25px;
}

.block-1 .conteiner .scroll .scroll-2 {
    width: 18px;
    height: 13px;
    -moz-transition: all 6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
}

.block-1 .conteiner .scroll .scroll-1:hover {
    fill: #ed1b21;
}

.block-1 .conteiner .scroll .scroll-2:hover {
    fill: #ed1b21;
    margin-top: 8px;
}

/*Блок-2*/

.block-2 {
    position: relative;
    margin-right: 60px;
	height: 676px;
}

.block-2 .line {
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
    position: relative;
    top: 295px;
    transition: -webkit-transform 1s ease .5s;
    transition: transform 1s ease .5s;
    transition: transform 1s ease .5s,-webkit-transform 1s ease .5s;
}

.block-2 .conteiner .main-title {
	color: #333333;
	text-transform: uppercase;
	margin-top: 72px;
}

.block-2 .conteiner .main-text {
	color: #333333;
	margin-top: 17px;
}


/*Блок-2/карусель*/

.owl-carousel-1 .owl-prev {
	position: absolute;
	top: 20px;
	right: 30px;

}

.owl-carousel-1 .owl-next {
	position: absolute;
	top: 20px;
	left: 30px;
}

.owl-carousel-1 {
    margin-top: 53px;
     height: 85px;
    color: #333333;
}

.owl-carousel-1 .item {
    padding-top: 37px;
  text-align: center;
}

.owl-carousel-1 .item  .title {
    font-family: 'ProximaNova-Semibold';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 18px;
    color: #333;
    transition: color .5s,font-size .5s,-webkit-transform .5s;
    transition: color .5s,font-size .5s,transform .5s;
    transition: color .5s,font-size .5s,transform .5s,-webkit-transform .5s;
}

.owl-carousel-1 .item span {
    margin: auto;
    display: block;
    height: 11px;
    width: 11px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #cfcfcf;
    transition: border-color .5s,margin .6s ease;
}

.owl-carousel-1 .item :hover span {
    border: 3px solid #333;
}

.owl-carousel-1 .item a:focus span {
    height: 15px;
    width: 15px;
    border: 3px solid #ed1b21;

}

.owl-carousel-1 .item  a:focus .title {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
    font-size: 30px;
    color: #ed1b21;
}

.owl-carousel-2 {
	margin-top: 40px;
}


.owl-carousel-2 .item .img{
    background-image: url('../images/icon.png');
    background-size: cover;
	position: absolute;
    width: 70px;
    height: 70px;
	top: 0;
	left: 0;
}

.owl-carousel-2 .item .img {
	margin: 10px 30px 0px 15px;
}

.owl-carousel-2 .item .history {
    position: relative;
    left: 114px;
    width: 850px;
    border-left: 1px solid #ed1b21;
    vertical-align: top;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: left;
}

.owl-carousel-2 .item .history .item__text {
	padding-top: 34px;
}

.owl-carousel-2 .item .history .item__text .title {
	color: #333333;
	text-transform: uppercase;
}

.owl-carousel-2 .item .history .item__text .text {
	color: #333333;
	padding-top: 5px;
}

/*Блок-3*/

.block-3 {
	position: relative;
	height: 620px;
    margin-right: 60px;
}

/*Блок-3/Карусель*/

.block-3 .owl-carousel-3 .owl-prev {
    height: 21px;
    position: absolute;
    top: 566px;
    left: 23.6%;
}

.block-3 .owl-carousel-3 .owl-next {
	height: 21px;
    position: absolute;
    top: 566px;
    right: 23.6%;
}

.block-3 .owl-carousel-3 .item {
	height: 100%;
	position: relative;
}    

.block-3 .owl-carousel-3 .item .content {
	position: absolute;
	height: 380px;
	width: 730px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.block-3 .owl-carousel-3 .item .content .title {
    width: 250px;
    position: relative;
	top: 0;
	left: 0;
	color: #fff;
	text-transform: uppercase;
}

.block-3 .owl-carousel-3 .item .content .list {
	position: relative;
	color: #fff;
	width: 325px;
	top: 15px;
	left: 0px;
}

.block-3 .owl-carousel-3 .item .content .list ul {
	list-style-type: disc;
}

.block-3 .owl-carousel-3 .item .content .icons {
	position: absolute;
	width: 248px;
	top: 0;
	right: 0;
} 

.block-3 .owl-carousel-3 .item .content .icons .img {
	padding: 27px;
	float: left;
	width: 124px;
	height: 124px;
}

.block-3 .owl-carousel-3 .item .content .icons .img:nth-child(1) {
	border-right: 0.5px solid #fff;
	border-bottom: 0.5px solid #fff;
}

.block-3 .owl-carousel-3 .item .content .icons .img:nth-child(2) {
	border-left: 0.5px solid #fff;
	border-bottom: 0.5px solid #fff;
}

.block-3 .owl-carousel-3 .item .content .icons .img:nth-child(3) {
	border-right: 0.5px solid #fff;
	border-top: 0.5px solid #fff;
}

.block-3 .owl-carousel-3 .item .content .icons .img:nth-child(4) {
	border-left: 0.5px solid #fff;
	border-top: 0.5px solid #fff;
}

.block-3 .owl-carousel-3 .item .content a {
    position: absolute;
    top: 310px;
    right: 0px;
    width: 248px;
    height: 50px;
     color:#fff;
     text-decoration:none;
     text-align:center;
     display: block;
     background-image: linear-gradient(to left,transparent,transparent 50%,#ed1b21 50%,#ed1b21);
     background-position: 100% 0;
     background-size: 200% 100%;
     transition: all .25s ease-in;
    font-family: 'RobotoCondensed-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 2px solid #ed1b21
}

.block-3 .owl-carousel-3 .item .content a:hover {
background-position: 0 0;
color:#fff;
}

.block-3 .owl-carousel-3 .bg-1 {
    width: 100%;
    height: 620px;
    background-image: url('../images/slider-bg-1.png');
    background-size: cover;
}

.block-3 .owl-carousel-3 .bg-2 {
	width: 100%;
	height: 620px;
	background-image: url('../images/slider-bg-2.png');
	background-size: cover;
}

/*Блок-4*/

.block-4 {
    position: relative;
    margin-right: 60px;
	height: 688px;
}

.block-4 .conteiner .title {
	color: #333333;
	text-transform: uppercase;
	padding-top: 72px;
}

.block-4 .conteiner .text {
	color: #333333;
	padding-top: 17px;
}

.block-4 .logo {
	width: 100%;
	height: 320px;
	padding-top: 59px;
}

.block-4 .logo .item {
	width: 16.66%;
	height: 160px;
	float: left;
	text-align: center;
}

.block-4 .logo .item .num {
	color: #ed1b21
}

.block-4 .logo .item .info {
	color: #333333;
	text-transform: uppercase;
	line-height: normal;
}

.block-4 .logo .item:nth-child(1) {
	border-width: 1px 0.5px 0.5px 0;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 61px;
}

.block-4 .logo .item:nth-child(2) {
	border-width: 1px 0.5px 0.5px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 52px;
}

.block-4 .logo .item:nth-child(3) {
	border-width: 1px 0.5px 0.5px 0;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 67px;
}

.block-4 .logo .item:nth-child(4) {
	border-width: 1px 0.5px 0.5px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 43px;
}

.block-4 .logo .item:nth-child(5) {
	border-width: 1px 0.5px 0.5px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 51px;
}

.block-4 .logo .item:nth-child(6) {
	border-width: 1px 0px 0.5px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 65px;
}

.block-4 .logo .item:nth-child(7) {
	border-width: 0.5px 0.5px 1px 0;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 53px;
}

.block-4 .logo .item:nth-child(8) {
	border-width: 0.5px 0.5px 1px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 54px;
}

.block-4 .logo .item:nth-child(9) {
	border-width: 0.5px 0.5px 1px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 61px;
}

.block-4 .logo .item:nth-child(10) {
	border-width: 0.5px 0.5px 1px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 36px;
}

.block-4 .logo .item:nth-child(11) {
	border-width: 0.5px 0.5px 1px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 62px;
}

.block-4 .logo .item:nth-child(12) {
	border-width: 0.5px 0.5px 1px 0;
	border-style: solid;
	border-color: #e6e6e6;
	padding-top: 44px;
}

.block-4 a {
    position: absolute;
    top: 578px;
    left: 50%;
    transform: translate(-50%,0);
    width: 228px;
    height: 50px;
     color:#333;
     text-decoration:none;
     text-align:center;
     display: block;
     background-image: linear-gradient(to left,transparent,transparent 50%,#ed1b21 50%,#ed1b21);
     background-position: 100% 0;
     background-size: 200% 100%;
     transition: all .25s ease-in;
    font-family: 'RobotoCondensed-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
 border: 2px solid #ed1b21
}

.block-4 a:hover {
background-position: 0 0;
color:#fff;
}

/*Блок-5*/

.block-5 {
	height: 620px;
    margin-right: 60px;
    background-color: #000;
}

.block-5 .conteiner .title {
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	padding-top: 230px;
	z-index: 1;
}

.block-5 .conteiner .text {
	color: #fff;
	position: absolute;
	padding-top: 345px;
	z-index: 1;
}

.block-5 .map {
    opacity: 1;
    width: 100%;
    height: 620px;
}

/*Блок-6*/

.block-6 {
	position: relative;
	height: 500px;
    margin-right: 60px;
	background-image: url('../images/bg-2.png');
	background-size: cover;
}

.block-6 .conteiner .title {
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 75px;
	left: 50%;
	transform: translate(-50%,0);
}

.block-6 .conteiner .symbol-1 {
    position: absolute;
    z-index: 1;
    left: 445px;
    top: 165px;
}

.block-6 .conteiner .symbol-2 {
    position: absolute;
    z-index: 1;
    right: 240px;
    top: 255px;
}

.block-6 .owl-carousel-4 {
	position: absolute;
	margin-top: 185px;
	left: 50%;
	transform: translate(-50%,0);
	width: 920px;
	color: #fff;
}

.block-6 .owl-carousel-4 .item .img {
    position: absolute;
	background-image: url('../images/man-1.png');
	height: 195px;
	width: 195px;
}

.block-6 .owl-carousel-4 .item .info {
	position: relative;
    left: 195px;
	padding-left: 38px;
	width: 513px;

}

.block-6 .owl-carousel-4 .item .man{
    position: relative;
    left: 195px;
    padding-left: 38px;
}

.block-6 .owl-carousel-4 .owl-dots {
	margin-top: 17px;
	width: 100%;
	padding-left: 235px;
}

.block-6 .owl-carousel-4 .owl-dot {
	width: 11px;
	height: 11px;
	background-color: #9a9a9a;
	border-radius: 50%;
	display: inline-block;
	margin: 5px;
}

.block-6 .owl-carousel-4 .owl-dots .active {
	border-radius: 50%;
	box-shadow: 20px solid #ed1b21;
	background-color: #ed1b21;
}

.block-6 .owl-carousel-4 .owl-dot.active:before {
    overflow: auto;
    content: " ";
    display: block;
    width: 17px;
    height: 17px;
    top: -3px;
    left: -3px;
    text-align: center;
    position: relative;
    border-radius: 7.5px;
    border: 1px solid #ed1b21;
}


/*Блок-7*/

.block-7 {
	position: relative;
	margin-right: 60px;
	height: 374px;
}

.block-7 .conteiner .title {
	color: #333333;
	text-transform: uppercase;
	padding-top: 80px;
}

.block-7 .conteiner .text {
	color: #333333;
	padding-top: 20px;
}

.block-7 .owl-carousel-5 {
	height: 160px;
	position: absolute;
	bottom: 0px;
}

.block-7 .owl-carousel-5 .item {
	position: relative;
	height: 160px;
	width: 100%;
}

.block-7 .owl-carousel-5 .item .img {
	position: relative;
	height: 100%;
	width: 16.66%;
	float: left;
}

.block-7 .owl-carousel-5 .item .img:nth-child(1) {
	background-image: url('../images/award-1.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(1) {
	background-image: url('../images/award-1.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(2) {
	background-image: url('../images/award-2.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(3) {
	background-image: url('../images/award-3.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(4) {
	background-image: url('../images/award-4.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(5) {
	background-image: url('../images/award-5.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0.5px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .item .img:nth-child(6) {
	background-image: url('../images/award-6.png');
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-width: 1px 0px 0px 0.5px;
	border-style: solid;
	border-color: #e6e6e6;
}

.block-7 .owl-carousel-5 .owl-prev {
	height: 21px;
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(0,-50%);
}

.block-7 .owl-carousel-5 .owl-next {
	height: 21px;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0,-50%);
}

/*Блок-8*/

.block-8 {
    margin-right: 60px;
	height: 527px;
	position: relative;
	background-image: url('../images/bg-3.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.block-8 .phone {
	width: 558px;
	position: absolute;
	top: 78px;
	left: 3.4%;
	padding-left: 42px;
	padding-top: 2px;
	background-image: url('../images/phone.png');
	background-size: auto;
	background-repeat: no-repeat;
}

.block-8 .phone .title, .block-8 .map .title, .block-8 .email .title {
	color: #fff;
	text-transform: uppercase;
}

.block-8 .phone .text, .block-8 .map .text {
    padding-top: 5px;
	color: #fff;
}

.block-8 .phone .contact, .block-8 .map .contact {
    padding-top: 5px;
	color: #ed1b21;
}

.block-8 .phone .contact span {
	padding-bottom: 0px;
	border-bottom: 1px solid #ed1b21;
}

.block-8 .map {
	width: 558px;
	position: absolute;
	top: 276px;
	left: 3.4%;
	padding-left: 42px;
	padding-top: 2px;
	background-image: url('../images/map.png');
	background-size: auto;
	background-repeat: no-repeat;
}

.block-8 .email {
	width: 446px;
	position: absolute;
	top: 78px;
	left: 51.3%;
	padding-left: 42px;
	padding-top: 2px;
	background-image: url('../images/email.png');
	background-size: auto;
	background-repeat: no-repeat;
}

::-webkit-input-placeholder {
     color: #aaa;
    padding-bottom: 200px;
	padding-left: 22px;
	font-family: 'RobotoCondensed-Light';
	font-weight: 300;
	font-size: 16px;
	line-height: normal;
}

::-moz-placeholder {
    color: #aaa;
padding-bottom: 200px;
	padding-left: 22px;
	font-family: 'RobotoCondensed-Light';
	font-weight: 300;
	font-size: 16px;
	line-height: normal;
}

:-moz-placeholder  {
     color: #aaa;
	padding-left: 22px;
	padding-top: 18px;
	font-family: 'RobotoCondensed-Light';
	font-weight: 300;
	font-size: 16px;
	line-height: normal;
}

:-ms-input-placeholder {
     color: #aaa;
	padding-left: 22px;
	padding-top: 18px;
	font-family: 'RobotoCondensed-Light';
	font-weight: 300;
	font-size: 16px;
	line-height: normal;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.block-8 .email .input-1 input {
	outline:none;
	position: relative;
	margin-top: 30px;
	height: 50px;
	width: 411px;
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: transparent;
	border-color: #ffffff;
    font-size: 30px;
	/*Текст ввода*/
	color: #c5c5c5;
    padding-bottom: 8px;
}

.block-8 .email .input-2 input {
	outline:none;
	position: relative;
	margin-top: 20px;
	height: 50px;
	width: 411px;
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: transparent;
	border-color: #ffffff;
    font-size: 30px;
	/*Текст ввода*/
	color: #c5c5c5;
    padding-bottom: 8px;
}

.block-8 .email .input-3 input {
	outline:none;
	position: relative;
	margin-top: 20px;
	height: 110px;
	width: 411px;
	border: 1px;
	border-style: solid;
	border-radius: 2px;
	background-color: transparent;
	border-color: #ffffff;
    font-size: 30px;
	/*Текст ввода*/
	color: #c5c5c5;
    padding-bottom: 65px;
}

.block-8 .email a {
    position: relative;
    top: 20px;
    left: 0px;
    width: 190px;
    height: 50px;
 color:#fff;
 text-decoration:none;
 text-align:center;
 display: block;
 background-image: linear-gradient(to left,transparent,transparent 50%,#ed1b21 50%,#ed1b21);
 background-position: 100% 0;
 background-size: 200% 100%;
 transition: all .25s ease-in;
    font-family: 'RobotoCondensed-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
 border: 2px solid #ed1b21
}

.block-8 .email a:hover {
background-position: 0 0;
color:#fff;
}

/*Блок-9*/

.block-9 {
    height: 100px;
    position: relative;
    margin-right: 60px;
    background-color: #ed1b21;
}

.block-9 .title {
    width: 114px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-transform: uppercase;
    background-image: url('../images/arrow-right-2.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    letter-spacing: 1.5px;
}

.block-9:hover {
    opacity: 0.8;
}








