@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('./ProximaNova-Bold.eot');
	src: url('./ProximaNova-Bold.woff') format('woff'), 
	url('./ProximaNova-Bold.ttf') format('truetype'), 
	url('./ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('./ProximaNova-Regular.eot');
	src: url('./ProximaNova-Regular.woff') format('woff'), 
	url('./ProximaNova-Regular.ttf') format('truetype'), 
	url('./ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('./ProximaNova-Semibold.eot');
	src: url('./ProximaNova-Semibold.woff') format('woff'), 
	url('./ProximaNova-Semibold.ttf') format('truetype'), 
	url('./ProximaNova-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-Light';
	src: url('./RobotoCondensed-Light.eot');
	src: url('./RobotoCondensed-Light.woff') format('woff'), 
	url('./RobotoCondensed-Light.ttf') format('truetype'), 
	url('./RobotoCondensed-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('./RobotoCondensed-Bold.eot');
	src: url('./RobotoCondensed-Bold.woff') format('woff'), 
	url('./RobotoCondensed-Bold.ttf') format('truetype'), 
	url('./RobotoCondensed-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}